.~*
*~
.tarantool.cookie
.rocks
.cache
.doctrees
__pycache__
/dev
/tmp/*
!/tmp/.keep
doc
release
release-doc
.idea
Dockerfile.test
Makefile.test
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
build.luarocks
build.rst
coverage_result.txt
.DS_Store
.vscode
luacov.*.out*
**/node_modules
/package-lock.json
*.mo
.history
.vscode
*.rock
